* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    min-height: 90%;
}
menu {
    background-color: #4b4b4b;
    height: 50px;
    margin: 0 auto;
}
.navigation {
    margin: 0 auto;
    text-transform: uppercase;
}
menu ul {
    list-style:none;
    font-size: 0.9rem;
    padding-top: 1rem;
    padding-left: 20%;
    padding-right:10%;
}
menu li {
    display: inline;
}
menu a {
    text-decoration:none;
    color: white;
    padding: 0.5rem;
    font-weight: bold;
}
a:hover {
    text-decoration: none;
}
menu ul li a:hover{
    background: linear-gradient(to bottom, #f7c400, #f3a900);
    color:#ffffff;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: .3s linear;
}

.hFooter {
    height: 60px;
}

footer{
    background-color: #4b4b4b;
    height: 30px;
    margin: 0 auto;
    margin-top: -30px;
    position: relative; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    width: 100%; /* Ширина слоя */
}
h1 {
    padding-top: 2%;
    padding-bottom: 2%;
    text-transform: uppercase;
    text-align: center;
}
form{
    float: right;
}
.btn-large {
    margin-left: 50px;
    padding: 5px 5px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 10px;
    text-transform: uppercase;
}
.btn:hover { color: #333333; text-decoration: none; background-color: grey; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
