{% extends 'AppBundle::admin_base.html.twig' %}

{% block title %}Students{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Edit student</h1>
    <hr>

    {{ form(form) }}

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $( "#appbundle_student_dateofbirth" ).datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });
    </script>
{% endblock %}